.add-record{
   width: 100%;
   height: 100%;
   transform: translateY(-16%);
}
.header{
   justify-content: space-between;
}
.select-cards{
   gap: 20px;
   height: 6rem;
   margin-bottom: 20px;
}

.back-btn .b{
   width: 60px;
   height: 50px;
   background-color: #007676;
   color: white;
   border-top-left-radius: 1.5em;
   border-bottom-left-radius: 1.5em;
   cursor: pointer;
}
.back-btn .b i{
   font-size: 2em;
}

.option-card{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 20px;
   background-color: white;
   height: 100%;
   margin-left: 20px;
   border-radius: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   transition: 0.3s all ease-in-out;
   cursor: pointer;
}
.option-card:hover{
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.forms{
   margin-top: 10px;
}
.forms .new .input input,
.forms .old .input input{
   width: 15rem;
}
.forms .p-info{
   gap: 20px;
   margin-bottom: 25px;
}

.forms form .input select{
   height: 2.5rem;
   margin-top: 5px;
}

.forms .new{
   background-color: #6D8B74;
   padding: 30px 10px;
   color: white;
   border-radius: 20px;
}
.forms .new form{
   flex-direction:  column;
}

.forms .new i{
   font-size: 7em;
   margin-bottom: 20px;
}

.addr input.adres{
   width: 30rem;
}
.forms button{
   box-shadow: none;
   background-color: rgb(1, 133, 153);
   margin: 0;
}
.forms .new button{
   margin-top: 50px;
}

.forms .old{
   margin-top: 30px;
   width: 100%;
}
.forms .old .fetch{
   gap: 20px;
}

.forms .old button{
   margin-top: 25px;
}

.fetchbtn{
   background-color: rgb(0, 146, 199);
   padding: 7px 15px;
   border-radius: 10px;
   color: white;
   margin-top: 25px;
   cursor: pointer;
   border: 1px solid black;
}

.data{
   width: 100%;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   height: 7rem;
}
.data .detail{
   width: 90%;
}
.detail .cardp{
   justify-content: space-around;
   gap: 4px;
   margin-bottom: 5px;
}
.detail .cardp span{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 4em;
   background-color: #00000014;
   /* transition: 0.2s all ease-in-out; */
}
.cardp:hover span{
   background-color:  #0000002c;
}

.old .popup{
   transform: translateY(-20%);
}

.old .translate{
   top: 75%;
   transform: translateY(-263%);
   /* transform: translateY(-140%); */
}

